.hidden {
    display: none;
}

.print-service-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.template {
  width: 90vh;
  height: 300px;
  margin-top: 50px;
  display: flex;
  border: 1px solid black;
  border-radius: 30px;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #344966, #344966 50%, #e5e5f7 50%);
  background-size: 10px 10px;
}

.template .image-container {
  width: 40%;
  margin: auto 5%;
}

.template .image-container img {
  width: 100%;
}

.template .image-container .tags{
  display: flex;
  justify-content: center;
}

.template .image-container .tag{
  text-decoration: underline;
  color: blue;
  background-color: white;
  border-radius: 10px;
  margin: 0 5px;
}

.template .text-container {
  width: 40%;
  margin: 10px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.template .text-container p{
  margin: 10px 0;
  padding: 5px;
  color: black;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.template .text-container label{
  margin-bottom: 30px;
  padding: 5px;
  color: black;
  background-color: white;
  border-radius: 10px;
}

.template .text-container input{
  background-color: #344966;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}